.nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 1rem;
  }

  .link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 1%;
  }
  
  .link:hover {
    text-decoration: underline;
  }

  .logo {
    background-color: beige;
    color: #333;
    text-decoration: wavy;
    font-size: 2rem;
    border-radius:  40%;
    padding: 5px;
  }
  